<%- include('../includes/navbar.ejs') %>
<h1 class="text-center m-5 text-secondary mb-4"><%= header %></h1>
<h1 class="text-center m-5 text-secondary mb-4"><%= id %></h1>

<div class="container d-flex" style="">
  <div class="w-60 m-5">
    <img src="<%= product.product_image %> " class="img-thumbnail" alt="..." />
  </div>
  <div class="w-50">
    <h5 class="card-title"><%= product.product_name %></h5>
    <p class="card-text"><%= product.description %></p>
  </div>
</div>

<span></span>

<%- include('../includes/footer.ejs') %>
